@model CheeseMVC.ViewModels.AddCategoryViewModel
@{
    <form asp-controller=" " asp-action="POST">
        <asp-for="" asp-validation-for=""></asp-for>
    </form>

    //left off here at Add View of Part 1
}
